* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Button */
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  font-size: 20px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
.btn:hover{
  box-shadow: 5px 10px #f4f4f4;
}
.btn--survey{
  margin-bottom: 20px;
}
.btn-block {
  display: block;
  width: 80%;
  margin-bottom: 15px;
}
.btn-register{
  background-color: #2577fd;
  margin-top: 20px;
}
.btn-logout{
  background-color: #2577fd;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px 15px;
  height: 60%;
  margin-top: 20px;
}
.link{
  text-decoration: none;
  color: #f4f4f4;
  font-size: 20px;
}

.divider{
  border-top: 1px solid steelblue;
  width: 80%;
}
.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

/* Form */
form{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  margin-top: -50px;
  /* margin-bottom: 25px; */
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3);
}
form input{
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(218, 214, 214);
  outline: none;
  font-size: 16px;  
}
form input:focus{
  border-color: #2577fd;
  box-shadow: 0 0 8px #2577fd;
}
.right-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.form-control {
  width: 80%;
  margin: 10px 0;
  display: flex;
  gap:20px;
}

.forget{
  margin: 15px 0;
  text-decoration: none;
  color: rgb(239, 79, 95);
  font-family: 'Arial';
  font-size: 14px;
}

/* Nav Style */
.nav{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0px 15px;
  box-shadow: 0 8px 6px -6px steelblue;
  height: 15vh;
}
.nav .left {
  display: flex;
  align-items: center;
  width: 10%;
}
.nav .left > .logo{
  width: 80px;    
  border-radius: 50%;
  margin-left: 20px;
}

/* Form Input */
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

/* Display Survey*/
.display-survey {
  width: 90%;
  margin: auto;
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:50px;
}
.display-survey .survey-card {
  margin-top: 50px;
  width: 32%;
  height: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  gap: 100px;
  background-color: rgb(201, 225, 231);
}
.title-survey{
  width: 100%;
  background-color: black;
  height: 60%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Media Query*/

@media (max-width: 869px) {
  .display-survey {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form{
    margin-top: 40px;
  }
}
@media (max-width: 950px) {
  form{
    margin-top: 30px;
  }
}